# Fichiers Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Build Angular
tmp/
out-tsc/

# Fichiers temporaires IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Fichiers système
.DS_Store
Thumbs.db

# Environnements
src/environments/environment*.ts

# Caches
.angular/cache/
