.desktop-area {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-content: start;
  justify-content: start;
  padding: 0 20px 0 20px;
  height: calc(100vh - 80px);

  background: var(--desktop-gradient);
  background-size: cover;
  background-position: center;
  transition: background 0.3s ease;
}

.desktop-icon {
  width: 80px;
  height: 80px;
}
